<div class="dashboard">
    <div class="dashboard__intro">
        <form (ngSubmit)="save(f)" #f="ngForm">
            <mat-form-field>
              <input
                matInput
                placeholder="New Weight (Kg)"
                type="number"
                name="weight"
                (input)="weightEntry.weight"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Choose a date"
                name="date"
                (dateInput)="weightEntry.date"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="weight-form-button">
              <button mat-mini-fab color="basic" type="submit">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </div>
          </form>
          
    </div>
</div>
