.dashboard {
    display: flex;
    flex-direction: column;
    
    .dashboard__intro {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
          
            .weight-form-button {
              margin: 3px 7px;
            }
          }
          
    }

   
}