<div class="dashboard">
    <div class="dashboard__intro">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">Enter your weight</div>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputWeight" placeholder="Your weight">
                    <br>
                    <button type="button" class="submit btn btn-outline-primary">Submit</button>
                  </div>
            </div>
          </div>
    </div>
</div>
