.weight-item-info {
    float: left;
  }
  .weight-date {
    font-size: 11px;
    color: grey;
  }
  
  .weight-item-controls {
    float: right;
  }
  
  .weight-edit-form {
    float: left;
    width: 100%;
    padding: 25px 0;
  }
  