<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
  
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation" routerLink="/">Sign in</a>
        </li>
        <li class="nav-item" (click)="openModal(signup)">
          <a class="nav-link" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation" routerLink="/">Sign up</a>
        </li>
      </ul>
      
    </div>
  </nav>

  <ng-template #signup>
    <signup></signup>
  </ng-template>
  