.bg-primary {
    background-color: #eeeeeee0 !important;
  }
  
  nav {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  
  
  .navbar-light .nav-item:hover .nav-link {
    color: var(--weight-primary-color);
  }

  
